@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Manrope:wght@200&display=swap');


.thetop{
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 30px;
    z-index: 5;
}
.navbar{
    position: absolute;
    margin: 0;
    width: 100%;
    padding-bottom: 30px;
    z-index: 5;
}
video{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    z-index: -4;

}
.thetop img{
 position: absolute;
    margin-left: 41%;
    cursor: pointer;
    z-index: 6;
}


.navbar{
    margin:0;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Manrope', sans-serif;
}

.navbar a{
    color: #ff4400;
    text-decoration: none;
    transition: 0.5s;
}

.navbar a:hover{
    color: white;
    border-bottom: 1px solid white;
   
    }

#boxlinks:hover{

    background-color: orangered;
color: white;
}

.body{
    margin: 0;
}


.copywrite{
    position: absolute;
    top: 120px;
    margin-left: 80px;
    font-weight: 100;
    color: #ff4500;
    font-size:55px;

    font-family: 'Kanit', sans-serif;
}

.copywrite a{
    font-size: 25px;
    margin-left: 42%;
    color: orangered;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid orangered;
    transition: 0.5s;
}

.copywrite a:hover{
    background-color: orangered;
    color: white;
}

.phoneandemail{
    margin-left: 10px;

    margin-top: 550px;

}

.phoneandemail a{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: orangered;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid orangered;
    transition: 0.5s;
}

.phoneandemail a:hover{
background-color: orangered;
color: white;
}


.whyme{
margin-left: 150px;
margin-top: 420px;

font-family: 'Manrope', sans-serif;
}

.whyme h1{
    margin-left: 26%;
    color: orangered;
    margin-top: 50px;
    margin-bottom: 100px;
}

.whyme div{
    display: inline-block;
    width: 20%;
    height: 300px;
    margin-right: 100px;
    background-color: white;
    border: 1px solid orangered;
    padding: 20px;
    margin-bottom: 100px;
    

}
.whyme a{
  margin-left: 40%;
    color: white;
    padding: 10px 20px;
    border: 1px solid orangered;
    background-color: orangered;
    text-decoration: none;
    transition: 0.5s;
}
.whyme a:hover{
    color: orangered;
    background-color: white;
}


.reason h1{
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: orangered;
    border-bottom: 1px solid orangered;
    padding-bottom: 15px;


}

.whyme p{
    text-align: center;
    color: orangered;
}


.aboutme{
    margin-top: 150px;
    font-family: 'Manrope', sans-serif;
    background-color:orangered;
    height: 800px;
}

.aboutme h1{
text-align: center;
color: white;
font-size: 30px;
font-family: 'Kanit', sans-serif;


}

.aboutme p{
text-align: center;
    color: white;
    margin-bottom: 50px;

}

.aboutme a{
    color: white;
    text-decoration: none;
    border: 1px solid;
    padding: 12px;
    margin-left: 47%;
transition: 0.5s;
}

.aboutme a:hover{
background-color:white;
color: orangered;

}
.socialproof{
    margin-top: 180px;
    margin-left: 30px;
    font-family: 'Manrope', sans-serif;
    
}



.proof{
    background-color: orangered;
    color:white;
    width: 32%;
display: inline-block;
padding-bottom: 50px;
height: 300px;
font-family: 'Manrope', sans-serif;

}





.proof p{
    text-align: center;
    margin-top: 150px;
}

.proof img{
    position: absolute;
}



.practice{
    position: relative;
    margin-top: 150px;
    margin-left: 5%;
    font-family: 'Manrope', sans-serif;
}



.area{
    display: inline-block;
    width: 30%;
    margin-right: 30px;
    height: 400px;
    background-color: #ff4500;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.area p{
    margin-top: 50px;
    margin-bottom: 20px;
}


.area h1{text-align: center;}
.area p{text-align: center;}

.area {
    position: relative;
  }
  
  .area:hover{
    opacity: 0.5;
  }

  
  .text-container {
    position: relative;
    z-index: 1;
    opacity: 1;
  }
  
  .area:hover #learn {
    visibility: visible;
    opacity: 1;
  }
  
  #learn {
    opacity: 1;
    font-size: 50px;
    visibility: hidden;
    color: orangered;
  }


.contact{
    position: absolute;
    margin-top: 250px;
    margin-left: 33%;

}
.contact h1{
    font-family: 'Manrope', sans-serif;
    margin-bottom: 50px;
    margin-left: 27%;
}
.column{

    margin-bottom: 20px;
    display: inline-block;
    margin-right: 30px;
    
}

.column input{
    display: block;
    margin-bottom: 50px;
}




input{

    padding: 10px;
    color: orangered;
    transition: 0.5s;
    font-family: 'Manrope', sans-serif;
    outline: none;
}

input:focus{
    transition: 0.5s;
    border: 1px solid orangered;
    padding: 16px;
}

textarea{
position: absolute;
    transition: 0.5s;
    font-family: 'Manrope', sans-serif;
    margin-left: 30.5%;
    width: 490px;
    outline: none;
    margin-top: 560px;
    }

textarea:focus{
    padding-bottom: 50px;
    border: 1px solid orangered;

}

.theadress{
    display: none;
}


input[type=submit]{
    padding: 10px 25px;
    background-color: orangered;
    border: none;
    color: white;
    margin-top: 780px;
    margin-left: 600px;
    border: 1px solid orangered;
    cursor: pointer;
}


input[type=submit]:hover{
    background-color: white;

    color: orangered;
}






footer{
    position: absolute;
    margin-top: 900px;
    height: 800px;
    width: 100%;
    background-color: black;
    color: orangered;
    left: 0;
}


.logo2{
    margin-left:35%;
}



.emailandphone{
   position: absolute;
   margin-top: 50px;
   margin-left: 21%;
}

.emailandphone a{

    color: orangered;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    margin-right: 20px;
}


.theadress{
    margin-left: 0%;
    margin-top: 120px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.theadress p{
    margin-left: 25px;
}

.linkcolumn{
    margin-left: 90%;
}

.linkcolumn a{
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    color: orangered;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}





@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Manrope:wght@200&family=Open+Sans:wght@300&display=swap');



.menubtn{
    margin-right: 10%;
    cursor: pointer;
    display: none;
    padding: 30px;
    padding-top: 0px;
}


.mobilenav{
    position: fixed;
    height: 768px;
    top: 0;
    margin-left: 100%;
    transition: 0.8s;
    z-index: 8;
}

.mobilenav img{

    z-index: 3;
}

.mobilecontent{
    height: 100%;
    position: relative;
    color: white;
    text-decoration: none;
    width: 0;
    background-color: orangered;    
    overflow: hidden;
    font-family: 'Manrope', sans-serif;
    transition: 0.8s;
}

#star{
    margin-left:160px;
    margin-top: 70px;
}

footer{
    height: 900px;
}

iframe{
    margin-top: -120px;
    width: 50%;
}
#logore{
    margin-left:100px;
    margin-top: 10px;
}

.mobilecontent a{
text-align: center;

color: white;
float: left;
width: 300px;
text-decoration: none;
margin-bottom: 30px;
}

.aboutme img{
    margin-left: 30%;
}

@media only screen and (max-width: 600px) {
    .menubtn{
        display: block;
    }

    .thetop img{
        margin-left: 10%;
        width: 200px;
    }

    .navbar{
        display: none;
    }

    .phoneandemail{
        display: none;
    }

    .copywrite{
        margin-left: 2%;
        margin-top: 150px
    }

    .copywrite h1{
        left: 0;
        margin-top: 0px;
        font-size: 45px;
        
       width: 400px;
       text-align: center;
    }

    .copywrite a{
    
        margin-left: 120px;
    }

    .whyme {
        margin-left: 20px;
        margin-top: 920px;
        font-family: 'Manrope', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Add this line */
        height: 100vh; /* Add this line */
      }
      
      .whyme h1 {
        color: orangered;
        margin: 20px;
        text-align: center;
      }
      
      .whyme .reason {
        width: 90%;
        margin: 0 auto;
        background-color: white;
        border: 1px solid orangered;
        padding: 20px;
        margin-bottom: 20px;
      }
      
      .whyme a {
        display: block;
        margin: 0 auto;
        color: white;
        padding: 10px 20px;
        border: 1px solid orangered;
        background-color: orangered;
        text-decoration: none;
        transition: 0.5s;
        text-align: center;
        width: 150px;
      }
      
      .whyme a:hover {
        color: orangered;
        background-color: white;
      }
      
      .reason h1 {
        margin: 0;
        text-align: center;
        color: orangered;
        border-bottom: 1px solid orangered;
        padding-bottom: 15px;
      }
      
      .whyme p {
        text-align: center;
        color: orangered;
      }
      
      

.aboutme{
    margin-top: 500px;
    padding-bottom: 70px;
    height: 1400px;
}

.aboutme a{
    margin-left: 38%;
}

.aboutme img{
    position: relative;    
    margin-left: -17%;

}

.proof{
    width: 100%;
    margin-bottom: 50px;
    margin-left:-15px ;
}

.proof img{
    position: absolute;
    left: 0px;
}

.practice{
    margin-left: 0;
}

.area{
    width: 100%;
    margin-bottom: 100px;
}

.contact{
    margin-left: 0;
}

.column{
    margin-right: 0px;
}

textarea{
    margin-left:0px;
}

.logo2{
    margin-left: 90px;
width: 200px;
}

.emailandphone{
    position: absolute;
    top: 380px;
    left: 30px;
    width: 500px;
    margin: 0;
}

.emailandphone a{
margin: 0;
margin-right: 20px;
}



iframe{
    margin-top: 180px;
    width: 100%;
}

.proof p{
    margin-left: -5px;
}

#star{
    left: 5px;
    margin-top: 70px;
}


#logore{
    left:-10px;
    margin-top: 10px;
}


.linkcolumn{
    margin-left: 0px;
}
.theadress{
    margin-top: 50px;
}
input[type=submit]{
    margin-left: 45%;
    
    } 
    footer{
        width: 500px;
    }
    .thetop img{
        margin-top: 15px;
        margin-left: 29%;
    }
    form{
        margin-left: -15px;
      }


      .emailandphone{
        position: absolute;
        top: 300px;
        left: 20px;
        width: 500px;
        margin: 0;
    }
    
    .emailandphone a{
    margin: 0;
    margin-right: 0px;
    }
    

    .v{
        margin-right:0;
    }

}

@media screen and (max-width:375px){
    video{
        width: 150%;
    }

    .aboutme{
        width: 360px;
    }

    .whyme {
        margin-left: 20px;
        margin-top: 1220px;
        font-family: 'Manrope', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Add this line */
        height: 100vh; /* Add this line */
      }
      
      .whyme h1 {
        color: orangered;
        margin: 20px;
        text-align: center;
      }
      
      .whyme .reason {
        width: 90%;
        margin: 0 auto;
        background-color: white;
        border: 1px solid orangered;
        padding: 20px;
        margin-bottom: 20px;
      }
      
      .whyme a {
        display: block;
        margin: 0 auto;
        color: white;
        padding: 10px 20px;
        border: 1px solid orangered;
        background-color: orangered;
        text-decoration: none;
        transition: 0.5s;
        text-align: center;
        width: 150px;
      }
      
      .whyme a:hover {
        color: orangered;
        background-color: white;
      }
      
      .reason h1 {
        margin: 0;
        text-align: center;
        color: orangered;
        border-bottom: 1px solid orangered;
        padding-bottom: 15px;
      }
      
      .whyme p {
        text-align: center;
        color: orangered;
      }
      

.aboutme{
    width: 430px;
}

.aboutme a{
    margin-left: 167px;
}

.proof{
    width: 420px;
    margin-left:-22px ;
}

#star{
    left: 5px;
    margin-top: 70px;
}


#logore{
    left:-10px;
    margin-top: 10px;
}


.area{
    width: 430px;
}
.contact{
    position: absolute;
    left: 0;
}
input{padding: 1px; margin-left: 0px; margin-right: 0px;}

.column{
    margin-right: 0px;
    width: 40%;
}

footer{
    width: 500px;
}

input[type=submit]{
margin-left: 45%;

} 

.thetop img{
    margin-left: 23%;
}
form{
    margin-left: 50px;
  }
}


@media screen and (max-width:325px){

    #theh1{
        margin-left: 60px;
    }

    .whyme div{
        margin-left: 10px;
    }

    .aboutme{
        margin-left: -10px;
    }

    .proof{
        width: 428px;
        margin-left: -40px;
    }


    .area{
        margin-left: -10px;
    }

    form{
      margin-left: 100px;
    }

}

